################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IndiePortable/Formatter/bin
/IndiePortable/Formatter/obj
/IndiePortable/packages
/IndiePortable/Collections/obj
/IndiePortable/Collections/bin
/IndiePortable/Collections.Tests/bin/Release
/IndiePortable/Collections.Tests/obj/Release
/IndiePortable/Collections/IndiePortable.Collections.0.2.2.nupkg
