<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IndiePortable.AdvancedTasks" version="0.2.0" targetFramework="net46" />
  <package id="IndiePortable.Collections" version="0.2.6.32854" targetFramework="net46" />
  <package id="IndiePortable.Communication" version="0.1.2.28060" targetFramework="net46" />
  <package id="IndiePortable.Communication.EncryptedConnection" version="0.1.0" targetFramework="net46" />
  <package id="IndiePortable.Communication.Tcp" version="0.1.0" targetFramework="net46" />
  <package id="IndiePortable.Formatter" version="0.2.1.32854" targetFramework="net46" />
</packages>