<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IndiePortable.Collections" version="0.2.8" targetFramework="portable45-net45+win8+wpa81" />
  <package id="IndiePortable.Communication" version="0.2.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="IndiePortable.Formatter" version="0.2.2" targetFramework="portable45-net45+win8+wpa81" />
</packages>